$table-variants: (
  "success":  #95F084,
  "ordinary": #FFE695,
  "wraning": #FFAF6A,
  "danger": #FF5757,
  "hazard":#9777FF,
  "peril": #AD1774
);
$theme-colors: (
  "success":  #95F084,
  "ordinary": #FFE695,
  "wraning": #FFAF6A,
  "danger": #FF5757,
  "hazard":#9777FF,
  "peril": #AD1774
);

$table-border-width: 5px;

$grid-gutter-width: 0.1rem;